{% extends "base.html" %}

{% block content %}
<h1>{{ survey_type }} Survey</h1>

<form method="POST">
    <div class="survey-question">
        <h3>{{ questions[0]['question'] }}</h3>
        {% for option in questions[0]['options'] %}
        <label class="option">
            <input type="radio" name="{{ 'confidence' if survey_type == 'Post-Question' else 'overall_trust' }}" value="{{ option }}" required>
            {{ option }}
        </label>
        {% endfor %}
    </div>
    <div class="survey-question">
        <h3>{{ questions[1]['question'] }}</h3>
        {% for option in questions[1]['options'] %}
        <label class="option">
            <input type="radio" name="{{ 'trust' if survey_type == 'Post-Question' else 'chatbot_helpfulness' }}" value="{{ option }}" required>
            {{ option }}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn">Next</button>
</form>
{% endblock %}